<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src='{% static "jquery3.6.js" %}'></script>
    <link rel='stylesheet' href='{% static "bootstrap/css/bootstrap.css" %}'>
    <script src='{% static "bootstrap/js/bootstrap.js" %}'></script>
    <title>BBS</title>
</head>
<body>
    <div class="col-md-8">
    <div class="col-md-offset-3">
        <img src="//static.hdslb.com/error/very_sorry.png">
        
    </div>
    <div class='text-center'><a href='/home/'>返回网站首页</a></p>
    </div>
    
</div>
</body>

